* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(230, 230, 230);
}

.contents {
    width: 100%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
}

.left-contents {
    width: 15%;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    position:fixed;
    top:50px;
    left:100px;
    align-content: center;
    text-align: center;
}

.left-contents button{
    background-color: white;
    border-style: solid;
    border-color:cadetblue;
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
    margin-top:15px;
    cursor: pointer;
}

.left-contents button:hover{
    background-color: rgb(228, 228, 228);
}

.left-contents button:active{
    background-color: rgb(201, 201, 201);
}


.left-contents input{
    font-size:20px;
}

.block {
    /*
    width: 200px;
    height: 200px;
    font-size: 150px;
    */
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    text-align: center;
    cursor: pointer;
}

.block:hover{
    background-color: rgb(236, 236, 236);
}

.block_0 {
    background-color: white;
    color: black;
}

.block_0:hover{
    background-color: rgb(236, 236, 236);
}

.block_1 {
    background-color: black;
    color: white;
}

.block_1:hover{
    background-color: rgb(53, 53, 53);
}

.block_2 {
    background-color: white;
    color: black;
}

.block_2:hover{
    background-color: rgb(236, 236, 236);
}


.win {
    background-color: lightgray;
    color: yellow;
}

.horiz {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.verti {
    display: grid;
    vertical-align: top;
    max-width:100px;
}

.chessboard {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 5px;
}

.btn {
    background-color: white;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    margin-left: 20px;
    margin-bottom: 20px;
    max-height: 70px;
    width: 150px;
    font-size: 30px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(230, 228, 228);
}

.btn:active{
    background-color: rgb(194, 191, 191);
}

#bottombar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bottombar-item {
    flex: 0 0 300px;
}